
.navbar {
    background-color: antiquewhite;
}

.quem-somos {
    background-color: aquamarine;
}

.parceiros {
    background-color: bisque;
    padding: 10px;
}

.img-parceiros {
    padding: 50px;
}

.bg-rodape {
    background-color: dimgray;
    color: white;
}

.margin {    
    padding-bottom: 30px;
}